$WHITE: #ffffff;
$BLACK100: #222222;
$BLACK90: #3b3b3b;
$BLACK80: #515151;
$BLACK70: #626262;
$BLACK60: #7e7e7e;
$BLACK50: #9e9e9e;
$BLACK40: #b1b1b1;
$BLACK30: #cfcfcf;
$BLACK20: #e1e1e1;
$BLACK15: #f1f1f1;
$BLACK12: #f4f5f7;
$BLACK10: #fafafd;
$BLACK_9: rgba(0, 0, 0, 0.9);
$BLACK_8: rgba(0, 0, 0, 0.8);
$BLACK_7: rgba(0, 0, 0, 0.7);
$BLACK_6: rgba(0, 0, 0, 0.6);
$BLACK_5: rgba(0, 0, 0, 0.5);
$BLACK_4: rgba(0, 0, 0, 0.4);
$BLACK_3: rgba(0, 0, 0, 0.3);
$BLACK_2: rgba(0, 0, 0, 0.2);
$BLACK_1: rgba(0, 0, 0, 0.1);
$TRANSPARENT: transparent;
