@mixin box-shadow() {
	box-shadow: 5px 5px 13px -11px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 5px 5px 13px -11px rgba(0, 0, 0, 1);
	-moz-box-shadow: 5px 5px 13px -11px rgba(0, 0, 0, 1);
}

@mixin display-row() {
	display: flex;
	flex-direction: row;
}

@mixin display-column() {
	display: flex;
	flex-direction: column;
}
